<TR><TD COLSPAN=2 ALIGN=RIGHT><FONT COLOR=red><B>{{$error}}</b></td></tr>
<TR><TD COLSPAN=2 ALIGN=RIGHT> <B>Database information to use to <u>connect</u> to the Fastdeploy database:</b></td></tr>
<TR><TD ALIGN=RIGHT><B>Database hostname: </TD><TD ALIGN=LEFT> <INPUT TYPE=text size=20 maxlength=50 name=dbhost value="{{$dbhost}}"></td></tr>
<TR><TD ALIGN=RIGHT><B>Database name: </TD><TD ALIGN=LEFT> <INPUT TYPE=text size=20 maxlength=50 name=db value="{{$db}}"></td></tr>
<TR><TD ALIGN=RIGHT><B>Database username: </TD><TD ALIGN=LEFT> <INPUT TYPE=text size=20 maxlength=50 name=dbuser value="{{$dbuser}}"></td></tr>
<TR><TD ALIGN=RIGHT><B>Database password: </TD><TD ALIGN=LEFT> <INPUT TYPE=PASSWORD size=20 maxlength=50 name=dbpassword value="{{$dbpassword}}"></td></tr>
<TR><TD COLSPAN=2 ALIGN=RIGHT> <B>Database information to use to <u>create</u> the Fastdeploy database (i.e., a DB admin with CREATE DATABASE privileges):</b></td></tr>
<TR><TD ALIGN=RIGHT><B>Database username: </TD><TD ALIGN=LEFT> <INPUT TYPE=text size=20 maxlength=50 name=db_setup_username value="{{$db_setup_username}}"></td></tr>
<TR><TD ALIGN=RIGHT><B>Database password: </TD><TD ALIGN=LEFT> <INPUT TYPE=PASSWORD size=20 maxlength=50 name=db_setup_password value=""></td></tr>