<html>

<head>

<title>{{$title}} </title>
<LINK REL=stylesheet HREF="{{$css}}" TYPE="text/css">
<script src="{{$js}}"></script>
</head>
<body text="#000000" bgcolor="#ffffff" leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
<CENTER>
<table cellspacing="0" cellpadding="0" width="800" border="0">
  <tr>
    <td valign="bottom"><IMG SRC="../images/fastdeploy-logo-1.png" BORDER=0 WIDTH=800 HEIGHT=100></td>
  </tr>
</table>
<table cellspacing="0" cellpadding="0" width="800" border="0">
  <tr>
    <td width="100%" valign="top">{{include file="$step"}}</td>
  </tr>
</table>
</CENTER>
</body>
</html>
