<table width=100% border=0 cellspacing=1 cellpadding=0 align=center> 
<tr><td class="pageTitle uline">FastDeploy Services :: {{$stage_val_display}}</td></tr><table>
<table border="0" cellspacing="2" cellpadding="0">
<TR><TD><B>You have configured the following server:</TD></TR>
</TD></TR>
</TABLE>
<table width=100% border=0 cellspacing=1 cellpadding=0 align=center> 
<TR><TD ALIGN=RIGHT>Operating System</TD><TD ALIGN=LEFT><B>{{$os}}</B></TD></TR>
<TR><TD ALIGN=RIGHT>MAC Address</TD><TD ALIGN=LEFT><B>{{$mac}}</B></TD></TR>
<TR><TD ALIGN=RIGHT>Hostname</TD><TD ALIGN=LEFT><B>{{$hostname}}</B></TD></TR>
<TR><TD ALIGN=RIGHT>Domain Name</TD><TD ALIGN=LEFT><B>{{$domain}}</B></TD></TR>
<TR><TD ALIGN=RIGHT>Dynamic or Static IP?</TD><TD ALIGN=LEFT><B>{{$addresstype}}</B></TD></TR>
{{$static_ip}}
<TR><TD ALIGN=RIGHT>Language</TD><TD ALIGN=LEFT><B>{{$language}}</B></TD></TR>
<TR><TD ALIGN=RIGHT>Timezone</TD><TD ALIGN=LEFT><B>{{$timezone}}</B></TD></TR>
<TR><TD ALIGN=RIGHT>CPU</TD><TD ALIGN=LEFT><B>{{$cpu}}</B></TD></TR>
<TR><TD ALIGN=RIGHT>Hard Drive</TD><TD ALIGN=LEFT><B>{{$harddrive}}</B></TD></TR>
<TR><TD ALIGN=RIGHT>Notify?</TD><TD ALIGN=LEFT><B>{{$notify}}</B></TD></TR>
</TABLE>
<table width=100% border=0 cellspacing=1 cellpadding=0 align=center> 
<TR><TD ALIGN=RIGHT><A HREF="edit.php?mac={{$mac}}">Edit this server</A> :: <A HREF="list.php">List all servers</A></TD></TR>
</TABLE>